<footer>
    <div id="footer_parent" >
   <p>Coding ninjas @All rights reserved</p>
   <div id="footer_links" >
    <a href="/">Home</a>
    <a href="/users/profile/<%=user._id%>">Profile</a>
   </div>
</div>
</footer>